@media (max-width: 480px) {
    .container .custom-card {
        width: 230px;
        border-radius: 15px;
    }

    .container .custom-card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .container .custom-card .custom-content p {
        font-size: .8rem;
    }

    .container .custom-card .custom-content a {
        font-size: 0.9rem;
    }
}