
@media (max-width: 932px) {

    /* geral */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* header */

    header {
        backdrop-filter: none;
        width: 100vw;
    }

    .menu-desktop, .btn-contato {
        display: none;
    }

    
    /* topo */

    .topo-do-site{
        padding: 50px 5%;
        text-align: center;
    }

    
    /* sobre */

    section.sobre{
        text-align: center;
    }

    
    /* especialidades */

    section.especialidades{
        padding: 0px 5%;
    }

    
    /* portifólio */

    section.portifolio{
        padding: 50px 5%;
    }

} 


@media (max-width: 480px) {

    /* topo */

    .img-topo-site__img {
        display: none;
    }

    .txt-topo-site {
        display: none;
    }
      
    /* sobre */
    section.sobre{
        text-align: center;
        margin: -5px;
    }

    .container .custom-card {
        border-radius: 15px;
    }

    .container .custom-card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .container .custom-card .custom-content p {
        font-size: .8rem;
    }

    .container .custom-card .custom-content a {
        font-size: 0.9rem;
    }

    .rodape {
        width: 100;
    }

    
    /* rodape */

    .rodape .logos {
        flex-direction: column;
    }
}
