
@media (max-width: 932px) {

    /* header */

    header {
        backdrop-filter: none;
        width: 100%;
    }

    .menu-desktop, .btn-contato {
        display: none;
    }

    
    .btn-abrir-menu {
        display: block;
    }

    
    /* topo */
    
    .img-topo-site__img {
        display: none;
    }

    .txt-topo-site {
        display: none;
    }
    
    /* sobre */

    section.sobre{
        padding: 100px 10px;
    }

    .sobre .txt-sobre p {
        margin: 20px 75px;
    }
    
    /* portifólio */

    section.portifolio{
        padding: 100px 5%;
    }

} 


@media (max-width: 480px) {

    /* header */

    
    .btn-abrir-menu i {
        display: block;
    }

    /* topo */

    .img-topo-site__img {
        display: none;
    }

    .txt-topo-site {
        display: none;
    }
    
  
    /* sobre */
    section.sobre{
        text-align: center;
        margin: -5px;
    }

    .container .custom-card {
        border-radius: 15px;
    }

    .container .custom-card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .container .custom-card .custom-content p {
        font-size: .8rem;
    }

    .container .custom-card .custom-content a {
        font-size: 0.9rem;
    }

    .rodape {
        width: 100;
    }

    /* rodape */

    .rodape .logos {
        flex-direction: column;
    }
}
